.home {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.mainWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
