.main {
  margin: 10px;
  position: relative;
}

.detailsOpen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.selectedItemsWrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
