table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  padding: 12px 20px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}
